
@{
    ViewBag.Title = "ChinhSachBaoMat";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="link_title">
    <div class="pagewrap">
        <h2>Chính sách bảo mật</h2>
        <ul>
            <li>
                <a style='text-decoration: none;' href='@Url.Action("Index")'>Trang chủ</a> | <a style='text-decoration: none;' href='#'>Chính sách bảo mật</a>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="left_conten" style="line-height: 2em; font-size: 15px; text-align: justify; ">
    <p><strong>Công Ty TNHH Hiếu Hải Sản xin cam kết sẽ bảo mật những thông tin mang tính riêng tư của khách hàng. Quý khách vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:</strong></p>
    <h2><span style="color: #ff6600;"><strong>1. Mục đích và phạm vi thu thập thông tin</strong></span></h2>
    <p>Thuật ngữ &#8220;Thông tin cá nhân&#8221; trong Chính Sách này nghĩa là thông tin nhận diện hoặc có khả năng nhận diện danh tính cá nhân của khách hàng. Những loại thông tin cá nhân mà chúng tôi xử lý (có thể khác nhau theo phạm vi quyền hạn dựa trên luật pháp hiện hành) bao gồm:</p>
    <p>&#8211; Tên công ty, cửa hàng, đơn vị kinh doanh, địa chỉ giao dịch, mã số thuế</p>
    <p>&#8211; Họ Tên, Số CMND, địa chỉ liên lạc</p>
    <p>&#8211; Email, số điện thoại di động, số điện thoại bàn</p>
    <p>Chúng tôi luôn thông báo cho khách hàng biết về mục đích cụ thể nếu cần thu thập những thông tin cá nhân của khách hàng trên trang web này, và mọi thông tin đều phải được khách hàng tự nguyện cung cấp.</p>
    <h2><span style="color: #ff6600;"><strong>2. Phạm vi sử dụng thông tin</strong></span></h2>
    <p>Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ Công ty TNHH Hiếu Hải Sản. </p>
    <p>Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với khách hàng dưới các hình thức như: gửi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về khuyến mãi và dịch vụ mới,… </p>
    <h3><span style="color: #ff6600;"><strong>3. Thời gian lưu trữ thông tin </strong></span></h3>
    <p>hieuhaisan.com sẽ lưu trữ các thông tin cá nhân do khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi trong quá trình cung cấp dịch vụ cho khách hàng hoặc cho đến khi hoàn thành mục đích thu thập hoặc khi khách hàng có yêu cầu hủy các thông tin đã cung cấp.</p>
    <h2><span style="color: #ff6600;"><strong>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong></span></h2>
    <p>Công ty TNHH Hiếu Hải Sản</p>
    <p>Địa chỉ: 62D/27 Nguyên Hồng , P.11, Q. Bình Thạnh, TP.HCM.</p>
    <h2><span style="color: #ff6600;"><strong>5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình</strong></span></h2>
    <p>Khách hàng muốn chỉnh sửa thông tin cá nhân của mình vui lòng liên hệ bộ phận chăm sóc khách hàng của hieuhaisan.com  theo số hotline 0915 555 437.</p>
    <h2><span style="color: #ff6600;"><strong>6. Cam kết bảo mật thông tin cá nhân khách hàng</strong></span></h2>
    <p>hieuhaisan.com sẽ không chia sẻ thông tin của quý khách cho bất kỳ một công ty nào khác ngoại trừ các nhà cung cấp có liên quan đến việc cung cấp dịch vụ cho khách hàng. Trong một vài trường hợp đặc biệt, hieuhaisan.com có thể bị yêu cầu phải tiết lộ thông tin cá nhân, ví dụ như khi có căn cứ cho việc tiết lộ thông tin là cần thiết để ngăn chặn các mối đe dọa về tính mạng và sức khỏe, hay cho mục đích thực thi pháp luật. hieuhaisan.com cam kết tuân thủ Đạo luật Bảo Mật và các Nguyên tắc Bảo mật Quốc gia.</p>
</div>