
@{
    ViewBag.Title = "ThanhToanDoiTra";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="link_title">
    <div class="pagewrap">
        <h2>Thanh toán &amp; Đổi trả</h2>
        <ul>
            <li>
                <a style='text-decoration: none;' href='@Url.Action("Index")'>Trang chủ</a> | <a style='text-decoration: none;' href='#'>Thanh toán đổi trả</a>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<div class="left_conten" style="line-height: 2em; font-size: 15px; text-align: justify; ">
    <h2>THANH TOÁN CHUYỂN KHOẢN NGÂN HÀNG</h2>
    <p>&#8211; Đối với khách mua hàng có nhu cầu thanh toán bằng hình thức chuyển khoản Ngân Hàng cho Hiếu Hải Sản.</p>
    <p>&#8211; Danh sách tài khoản ngân hàng của Hiếu Hải Sản:</p>
    <p><strong>NGÂN HÀNG Á CHÂU (ACB)</strong><br />1. Chủ tài khoản: Trảo Thị Hạnh<br />2. Số tài khoản: 1455  2137<br />3. Chi nhánh Lê Quang Định, Bình Thạnh</p>
    <p><strong>NGÂN HÀNG NGOẠI THƯƠNG VIETCOMBANK</strong><br />1. Chủ tài khoản: Trảo Thị Hạnh<br />2. Số tài khoản: 1019.740.784<br />3. Chi Nhánh Đông Sài Gòn Tp.HCM</p>
    <p><strong>NGÂN HÀNG KỸ THƯƠNG  TECHCOMBANK</strong><br />1. Chủ tài khoản: Trảo Thị Hạnh<br />2. Số tài khoản: 190.308.269.500.37<br />3. Chi Nhánh Nơ Trang Long Tp.HCM</p>
    <p><strong>NGÂN HÀNG SÀI GÒN THƯƠNG TÍN SACOMBANK</strong><br />1. Chủ tài khoản: Trảo Thị Hạnh<br />2. Số tài khoản: 0600. 6290. 5258<br />3. Chi nhánh Lê Quang Định, Bình Thạnh</p>
</div>