
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="link_title">
    <div class="pagewrap">
        <h2>Sản phẩm đã hết hàng không đặt tiếp!!!</h2>
        <div class="clr"></div>
    </div>
</div>