
@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="link_title">
    <div class="pagewrap">
        <h2>Sản phẩm không đủ số lượng! Vui lòng đặt ít hơn!!!</h2>
        <div class="clr"></div>
    </div>
</div>
<a href="@Url.Action("XemGioHang","GioHang")" style="font-size:16px">Quay lại giỏ hàng</a>