
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Đơn hàng của quý khách đã được đặt thành công</h2>
<p>@Html.ActionLink("Về trang chủ", "Index", "Home")</p>

