
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 style="text-align: center">
    Đơn hàng của bạn đã được đặt thành công.
    <br />
    Chúng tôi sẽ giao hàng đến bạn sớm nhất có thể!
</h2>
<p>@Html.ActionLink("Về trang chủ", "Index", "Home")</p>

