
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="text-align:center">
    <h2>Trang quản lý bán hàng</h2>
    <br />
    <h3>Nhóm 13 - CNTT2 - K13</h3>
</div>

